# build
build

# arduino ide
.theia

# vscode
# including arduino.json and c_cpp_properties.json b/c they have useful data
.vscode/settings.json

# secrets
wifi-config.h
wifi-config.c
wifi-config.cpp
